{% extends "base.html" %}

{% block content %}
<body>
    <div class="container centered-vert">
        <header class="bold centered large white margintop">About Us</header>
        <p class = "bold centered medium white" style="white-space: pre-line">
            Finding the right bank for a loan 
            is confusing due to unclear and 
            varying eligibility criteria.

            Enter Lend A Hand.

            Lend A Hand is your smart 
            matchmaker for hassle-free loan
            approvals! We analyze your key 
            financial factors to match you 
            with the best bank for your 
            loan based on our statistical 
            modeling techniques!

            We hope you enjoy
            using Lend A Hand!

        </p>    
    </div>
</body>
{% endblock %}