<body>
    <header class="header">
        <nav class="nav">
            {% if uid() is not none %}
            <a href="{{ url_for('logout')}}" class="nav_link">Logout</a>
            <a href="{{ url_for('index')}}" class="nav_link">Home</a>
            {% else %}
            <a href="{{ url_for('login')}}" class="nav_link">Login</a>
            <a href="{{ url_for('about')}}" class="nav_link">About</a>
            {% endif %}
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>